<div class="albums__topNav">
  <%= button_to 'Home', root_path, method: 'get', class: "albums__homeButton" %>
</div>

<% if @album.errors.messages.present? %>
  <%= render partial: "errors", locals: { record: @album } %>
<% end %>

<% @options = [] %>
<%= render partial: "form", locals: { options: @options } %>
