<!DOCTYPE html>
<html>
<head>
  <title>CRUDdy | Music Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="background__tint">
    <div class="albums__main">

      <h1 class="global__title">CRUDdy, the Music Manager</h1>

      <%= yield %>

    </div>
  </div>

</body>
</html>
